sudo: false

language: erlang

before_install:
  - pip install --user cpp-coveralls coveralls-merge

install:
  - ./configure
  - rebar get-deps

script: rebar compile xref && rebar skip_deps=true eunit

otp_release:
  - 17.1
  - 17.5
  - 18.1
