{erl_opts, [{i, "include"},
	    {i, "deps/p1_stun/include"},
	    {i, "../p1_stun/include"}]}.

{deps, [{p1_stun, ".*", {git, "https://github.com/processone/stun", {tag, "0.9.0"}}},
	{p1_tls, ".*", {git, "https://github.com/processone/tls", {tag, "1.0.0"}}},
	{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.2"}}}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
