{erl_opts, [{i, "include"},
	    {i, "deps/p1_stun/include"},
	    {i, "../p1_stun/include"}]}.

{deps, [{p1_stun, ".*", {git, "git://github.com/processone/stun"}},
	{p1_tls, ".*", {git, "git://github.com/processone/tls"}},
	{p1_utils, ".*", {git, "git://github.com/processone/p1_utils"}}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
